<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Assignment Education is a Platform for free assignment,term paper and Reacherchpaper download
    and upload for for student of business,laws and others ">
   <meta name="keywords" content="assignment education, mba assignment help, solved assignment ignou, project financial statement,
    university assignments" />
    <meta name="author" content="">

    <title>Dining App.</title>

    <link rel="stylesheet" href="{{STATIC_URL}}libraries/bootstrap/css/normalize.css" />
    <link rel="stylesheet" href="{{STATIC_URL}}libraries/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{STATIC_URL}}libraries/bootstrap/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="{{STATIC_URL}}dining/css/dining.css">


</head>

<body >
<!---
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/">Web Dining</a>

        <div class="nav-collapse">
            <ul class="nav pull-right">
                <li class="active"><a href="/">home</a> </li>

            </ul>
        </div>
    </div>
</nav>

-->


{% block body %}


{% endblock %}




<footer class="row-fluid">
    <hr/>
    <div > <p>Develop by Web Team</p></div>
</footer>

<script src="{{STATIC_URL}}libraries/vendor/jquery.js"></script>
<script src="{{STATIC_URL}}libraries/vendor/bootstrap.min.js"></script>
<script src="{{STATIC_URL}}libraries/vendor/holder.js"></script>

</body>
